<div style="text-align: center;color: #464646;">
  <div><h3>Verify Your Account</h3></div>
  <div>
    Welcome to SwissGetal, Before we get started, please confirm your email address.
  </div>
  <div style="cursor: pointer;margin: 30px 0px;">
    <a
    target="_blank"
      href="{{ vericationLink }}"
      style="text-decoration: unset;background: #3099DC;border: navajowhite;color: #fff;padding: 10px 20px;font-size: 14px;"
    >
      Confirm Email
    </a>
  </div>
  <div>
    Or, paste this link into your browser:
    <a target="_blank" style="text-decoration: unset;" href="{{ vericationLink }}">{{ vericationLink }}</a>
  </div>
</div>
