/*Fonts icon */
@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?4lky6n');
  src: local('icomoon'),
    url('./icomoon.eot?4lky6n#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?4lky6n') format('truetype'),
    url('./icomoon.woff?4lky6n') format('woff'),
    url('./icomoon.svg?4lky6n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mia-"], [class*=" mia-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mia-camera:before {
  content: "\e91d";
}
.mia-folder:before {
  content: "\e91e";
}
.mia-gallery:before {
  content: "\e91f";
}
.mia-happiness:before {
  content: "\e920";
}
.mia-promotion:before {
  content: "\e919";
}
.mia-google:before {
  content: "\e913";
  color: #4285f4;
}
.mia-twitter:before {
  content: "\e911";
  color: #1da1f2;
}
.mia-facebook:before {
  content: "\e912";
  color: #3b5998;
}
.mia-cart:before {
  content: "\e900";
}
.mia-edit:before {
  content: "\e91c";
}
.mia-more:before {
  content: "\e91a";
}
.mia-bag:before {
  content: "\e915";
}
.mia-check:before {
  content: "\e910";
}
.mia-trash:before {
  content: "\e90f";
}
.mia-arrow-right-thin:before {
  content: "\e90e";
}
.mia-notifications:before {
  content: "\e90a";
}
.mia-person:before {
  content: "\e90b";
}
.mia-arrow-right:before {
  content: "\e905";
}
.mia-log-in:before {
  content: "\e906";
}
.mia-add:before {
  content: "\e903";
}
.mia-search:before {
  content: "\e901";
}
.mia-shopping-bag:before {
  content: "\e91b";
}
.mia-chevron-left:before {
  content: "\e917";
}
.mia-chevron-right:before {
  content: "\e916";
}
.mia-cheveron-down:before {
  content: "\e909";
}
.mia-menu:before {
  content: "\e908";
}
.mia-close:before {
  content: "\e904";
}
.mia-close1:before {
  content: "\e918";
}
.mia-filter:before {
  content: "\e90d";
}
.mia-user-circle-o:before {
  content: "\e902";
}
.mia-payment:before {
  content: "\e914";
}
.mia-exit:before {
  content: "\e90c";
}
.mia-user-plus:before {
  content: "\e907";
}
